* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  text-decoration: none;
  list-style-type: none;
  color: #687268;
  font-weight: 600;
  font-size: 15px;
}
.navbar {
  background-color: white;
}
.container {
  width: 80%;
  margin: auto;
}
.navbar {
  padding: 05px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactus {
  background-color: #f1a204;
  color: white;
  border-radius: 5px;
  padding: 12px;
}
.home {
  color: #f1a204;
}
.menu ul {
  list-style-type: none;
  display: flex;
  padding: 25px 100px 0px 0px;
}
.menu ul li {
  margin: 20px;
  color: black;
}
.hero {
  width: 85%;
  display: flex;
  margin: 25px 0px 0px 5%;
  gap: 100px;
}
h1 {
  color: #0c084c;
  font-weight: 600;
  font-size: 50px;
}
h3 {
  color: #f1a204;
  font-weight: 500;
  font-size: 16px;
}
.sombong {
  color: #0c084c;
}
span {
  font-weight: 400;
}
.kiri ul {
  padding: 0% 0% 0% 0%;
}
.kanan {
  background-color: white;
}
.tombol {
  display: flex;
  margin-left: 5%;
}
.program-btn {
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  border-radius: 5px;
  color: #0c084c;
  background-color: white;
}

.daftar-btn {
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1a204;
  color: white;
}
.kerja-alumni {
  color: #0c084c;
  font-weight: 600;
  font-size: medium;
  margin: 50px 0px 0px 5%;
}
a:hover {
  color: #f1a204;
}
.perusahan-alumni {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
i {
  color: #f1a204;
}
.daftar-btn i {
  color: white;
}
.perusahan-alumni .dll {
  color: #0c084c;
}
b {
  font-weight: 900;
  color: #0c084c;
}
.kenapa_navbar {
  text-align: center;
}

.kenapa_navbar span {
  font-weight: 400;
  color: #0c084c;
  font-size: 50px;
}
.kenapa_navbar .deks1 {
  color: #0c084c;
}
.program {
  display: flex;
  justify-content: center;
  justify-content: space;
}
.program1 {
  justify-content: center;
  width: 25%;
  border-radius: 4%;
  background-color: rgba(236, 236, 236, 0.486);
  margin: 0px 20px 0px 0px;
}
.program1 ul {
  padding-top: 5%;
  padding-bottom: 15%;
}
.program1 h2 {
  font-size: 18px;
  color: #111516;
}
.program2 {
  justify-content: center;
  width: 25%;
  border-radius: 4%;
  background-color: rgb(255, 230, 234);
  margin: 0px 20px 0px 0px;
}
.program2 h2 {
  font-size: 18px;
  color: #111516;
  text-align: center;
  padding-top: 5%;
}
.program2 ul {
  padding-top: 5%;
  padding-bottom: 5%;
}
.program3 {
  align-items: center;
  justify-content: center;
  width: 25%;
  border-radius: 4%;
  background-color: rgba(236, 236, 236, 0.486);
}
.program3 img {
  justify-content: center;
  padding-left: 5%;
}
.program h2 {
  font-size: 18px;
  color: #111516;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 0%;
}

.jurusan {
  display: flex;
  margin: 0px 250px 0px 250px;
  font-family: poppins;
}
.tekniktkj {
  background-color: #f1a204;
  color: #ededed;
  font-size: 18px;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  text-align: center;
}
.jurusan .TKJ {
  background-color: #ededed;
  color: #687268;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 25px;
  border-radius: 15px;
}
.downloadTKj {
  background-color: #0c084c;
  color: #ededed;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 45px;
}
.jurusan .DKV {
  background-color: #ededed;
  color: #687268;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 25px;
  border-radius: 15px;
}
.teknikdkv {
  background-color: #f1a204;
  color: #ededed;
  font-size: 18px;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  text-align: center;
}
.downloadDKV {
  background-color: #0c084c;
  color: #ededed;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 45px;
}
.teknikRPL {
  background-color: #f1a204;
  color: #ededed;
  font-size: 18px;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  text-align: center;
}
.jurusan .RPL {
  background-color: #ededed;
  color: #687268;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 25px;
  border-radius: 15px;
}
.downloadRPL {
  background-color: #0c084c;
  color: #ededed;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 45px;
}
.judul h1 {
  text-align: center;
  color: #0c084c;
  font-family: poppins;
  font-weight: 700;
  font-size: 43px;
}
.judul h4 {
  text-align: center;
  font-family: poppins;
}
.jurusan p {
  color: black;
  text-align: center;
  font-size: poppins;
  font-size: 15px;
}
.jurusan ul i {
  color: #f1a204;
  list-style-type: none;
}
.container .gallery {
  max-width: 1100px;
  margin: auto;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  padding: 40px;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}
.filter-buttons {
  text-align: center;
  margin-bottom: 30px;
}
.filter-btn {
  border: 1px solid #ddd;
  background: none;
  color: #555;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-weight: 500;
}
.filter-btn.active,
.filter-btn:hover {
  background-color: #ff6b00;
  color: white;
  border-color: #ff6b00;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.gambar {
  border-radius: 12px;
  width: 30%;
  overflow: hidden;
  /* transform: scale(1); */
  transition: all 0.5s ease;
}
.gambar img {
  width: 100%;
  height: 100%;
}
.gambar:hover {
  transform: scale(1.05);
}
